<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Your bdashed password<br/>
    </p>
		<p>
			  Username: <%= @email.username %><br />
			  password: <%= @email.password %>
		</p>
	</body>
</html>