body
{
  background:#FAFAFA;
  width:100%;
}

h1.header
{
  display:none;
}

.login
{
  height:inherit;
  width:300px;
  padding:5px 10px;
}

.wrapper
{
	width:100%;
}

.container
{
  border:none;
}

.footer
{
  display:none;
}

.noMobile
{
  display:none;
}

table#users
{
  width:320px;
}

.topbar
{
  padding:0;
}

.topbar ul
{
  float:none;
  text-align:left;
}

.topbar ul li
{
  font-size:12px;
  margin:0 10px;
}

/* Main View */

h1.client
{
  font-size:18px;
  margin-bottom:4px;
}

ul.tabs
{
  display:none;
}

.overview
{
  display:none;
}

.details
{
  display:block;
}

.container.show
{
  width:100%;
  min-width:320px;
  min-height:200px;
  clear:left;
  background:none;
}

.info.active
{
  display:none !important;
}

.side_logo
{
  display:none;
}

.col2, .col3
{
  float:none;
}