body
{
  background:#FAFAFA;
  width:100%;
}

h1.header
{
  display:none;
}

.login
{
  height:inherit;
  width:300px;
  padding:5px 10px;
}

.wrapper
{
	width:100%;
}

.container
{
  border:none;
}

.footer
{
  display:none;
}

.noMobile
{
  display:none;
}

table#users
{
  width:320px;
}

.topbar
{
  padding:0;
}

.topbar ul
{
  float:none;
  text-align:left;
}

.topbar ul li
{
  font-size:12px;
  margin:0 10px;
}

/* Main View */

h1.client
{
  font-size:18px;
  margin-bottom:4px;
  margin-left:5px;
}

.update
{
  margin-left:5px;
}

ul.tabs
{
  display:none;
}

.overview
{
  display:none;
}

.details
{
  display:block;
}

.container.show
{
  width:100%;
  min-width:320px;
  min-height:200px;
  clear:left;
  background:none;
}

.info.active
{
  display:none !important;
}

img.side_logo
{
  display:none !important;
}

.col2, .col3
{
  float:none;
}

ul.menu li
{
  width:320px;
  border-bottom:1px solid #DADADA;
}

ul.menu li a
{
  width:300px;
  display:inline-block;
  padding:10px;
  outline:none;
}

ul.tweets li, ul.facebook li
{
  width:300px;
}

table.data, .col3 table.data
{
  left:0;
  width:320px;
}

.google .col2, .google .col3
{
  padding:0;
}

.google.active, .facebook.active, .mailchimp.active, .twitter.active
{
  display:block !important;
}