body
{
  background:#FAFAFA;
  width:320px;
  height:100%;
  overflow:hidden;
}

h1.header
{
  display:none;
}

.login
{
  height:inherit;
  width:300px;
  padding:5px 10px;
}

.wrapper
{
  margin:0;
	width:320px;
}

.container
{
  border:none;
}

.footer
{
  display:none;
}

.noMobile
{
  display:none;
}

table#users
{
  width:320px;
}

.topbar
{
  padding:0;
  width:320px;
}

.topbar ul
{
  float:none;
  text-align:left;
}

.topbar ul li
{
  font-size:12px;
  margin:0 10px;
}