body { background:url('/images/bg.png'); color: #7c7c7c; }

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  padding:0;
  margin:0;
  font-size:13px;
}

h1, h2, h3
{
  font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
  font-weight:normal;
}

h3
{
  font-size:18px;
}

.noMargin
{
  margin:0;
}

.nobot
{
  margin-bottom:0;
}

.notop
{
  margin-top:0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a 
{ 
  color: #7d00bb;
  text-decoration:none;
}

.cleft
{
  clear:left;
}

.right
{
  float:right;
}

.left
{
  float:left;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.error_message
{
  padding:5px;
  margin:0 0 10px 0;
  border:1px solid #be1919;
  color:#be1919;
  background:#f4a6a6;
}

/* Structure */
.wrapper
{
  width:940px;
  padding: 0px;
  margin:0 auto;
}

.topbar
{
  padding:5px 0;
  height:30px;
  background:#000;
  width:100%;
}

.topbar ul
{
  margin:0;
  padding:5px 0;
  text-align:right;
  float:right;
}

.topbar ul li
{
  list-style:none;
  display:inline;
  margin:0 15px;
  font-size:14px;
}

.topbar ul li a
{
  color:#fff;
}

h1.header
{
  background:url('/images/header.png');
  width:940px;
  height:115px;
  text-indent:-9009px;
  margin:0 0 20px 0;
}

.container
{
  background:#fafafa url('/images/container_bg.png') repeat-y;
  border:2px #cbc9c9 solid;
  -moz-border-radius:10px;
  border-radius:10px;
  min-width:930px;
  min-height:600px;
}

.side_spacing
{
  padding:15px;
}

.col1
{
  width:280px;
  padding:10px 15px;
  float:left;
}

.col2
{
  width:281px;
  padding:10px 15px;
  float:left;
}

.col3
{
  width:279px;
  float:left;
  padding:10px 15px;
}

.login
{
  width:330px;
  height:220px;
  margin:0 auto;
  padding:15px;
}

.login h3
{
  text-align:center;
  margin:0 0 5px 0;
  font-size:24px;
}

.login p.sub
{
  text-align:center;
  margin:0 0 10px 0;
}

.login .form
{
  margin:0 auto;
  width:230px;
}

.login form p, form.new_user  p, form.edit_user p { position:relative }

.login label, .new_user label { 
  position:absolute; 
  top:13px; 
  left:5px;
  font-size:16px;
  color:#7d7d7d;
  font-family:Georgia,serif;
}

input.text 
{
  background:#edeced;
  border:1px #b0b0b0 solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#7c7c7c;
  height:35px;
  font-family:Georgia,serif;
  width:220px;
  padding:0 5px;
  margin:5px 0 5px 0;
}

input.submit
{
  background:#7d00bb;
  border:1px #d5aaeb solid;
  -moz-border-radius:7px;
  border-radius:7px;
  font-size:16px;
  color:#fff;
  padding:0 10px;
  height:35px;
  font-family:Arial, sans-serif;
  margin:5px 0 10px 0;
}

label.error
{
  position:relative;
  background:none;
  border:none;
  color:#b32222;
  font-size:11px;
  z-index:1;
  top:0;
  font-family:Arial;
}

/* Admin */

table#users
{
  width:940px;
}

table#users td, table#users th
{
  padding:8px 5px;
  text-align:left;
}

table#users td img
{
  border:none;
}

table#users tr:nth-child(2n)
{
  background:#f4f4f4;
}

form.facebook, form.analytics, form.chimp
{
  display:none;
}

/* Show */
h1.client
{
  margin:0;
}

.update
{
  margin-bottom:5px;
  display:inline-block;
}

ul.tabs
{
  margin:25px 10px 0;
  padding:0;
  list-style:none;
  float:right;
}

ul.tabs li
{
    float:left;
    margin:0 2px;
}

ul.tabs li a
{
  display:inline-block;
  padding:5px 8px;
  border:2px #cbc9c9 solid;
  border-bottom:none;
  -moz-border-radius-topright:5px;
  border-top-right-radius: 5px; 
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  font-weight:bold;
  background:#fafafa;
}

ul.tabs li a.active
{
  background:#7d00bb;
  color:#fff;
}

ul.tabs li a:hover
{
  background:#7d00bb;
  color:#fff;
}

.details
{
  display:none;
}

.logo
{
  margin-bottom:10px;
}

a.logout
{
  display:inline-block;
  margin-top:10px;
}

h2.date
{
  float:right;
  margin:5px 4px 0 0;
}

.number
{
  font-size:14px;
}

.count
{
  -moz-border-radius:10px;
  border-radius:10px;
  padding:0px 0 0 15px;
  font-size:20px;
  clear:left;
  margin:8px 0;
  font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
  height:48px;
  border:1px #646464 solid;
}

.count .label
{
  display:inline-block;
  padding-top:10px;
}

.divider
{
	-moz-border-radius-topright:9px;
  border-top-right-radius: 9px; 
  -moz-border-radius-bottomright:9px;
  border-bottom-right-radius:9px;
  display:inline-block;
  margin:0 0 -15px;
  padding:10px 15px 10px 15px;
  height:28px;
  float:right;
  color:#fff;
  background:url('/images/count.png');
}

.plus
{
  border:1px #0b8308 solid;
}

.plus .divider
{
  background:url('/images/plus.png');
  border-left:1px #0b8308 solid;
}

.negative
{
  border:1px #820808 solid;
}

.negative .divider
{
  border-left:1px #820808 solid;
  background:url('/images/negative.png');
}

/* Detail View */

ul.menu
{
  padding:0;
  margin:0;
  list-style:none;
  margin-left:-15px;
}

ul.menu li:first-child
{
  border-top:1px solid #DADADA;
}

ul.menu li
{
  padding:10px;
  width:289px;
  border-bottom:1px solid #DADADA;
}

ul.menu li:nth-child(2n -1)
{
  background:#fff;
}

div.detail
{
  display:none;
}

div.detail.active
{
  display:block;
}

/* Twitter */
img.twitter
{
  float:left;
  border:4px solid #ddd;
  margin:0 6px 10px 0;
  width:48px;
}

.info
{
  margin:10px;
  clear:left;
}

ul.tweets
{
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-15px;
}

ul.tweets li
{
  padding:10px;
  width:289px;
  border-bottom:1px solid #DADADA;
}

ul.tweets li:last-child
{
  border:none;
}

ul.tweets li .status
{
  margin-left:49px;
}

ul.tweets li .twitter
{
  width:35px;
}

ul.tweets li:nth-child(2n)
{
  background:#fff;
}

/* Facebook */
h3.facebook
{
  line-height:1.1;
  font-size:16px;
}

img.book
{
  float:left;
  border:4px solid #dcdcdc;
  margin:0 6px 10px 0;
  width:48px;
  clear:left;
}

ul.facebook
{
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-15px;
}

ul.facebook li
{
  padding:10px;
  width:289px;
  border-bottom:1px solid #DADADA;
}

ul.facebook li:last-child
{
  border:none;
}

ul.facebook li .status
{
  margin-left:62px;
}

ul.facebook li:nth-child(2n)
{
  background:#e6e6e6;
}

img.facebook
{
  float:left;
  border:2px solid #7e7d7d;
  margin-right:6px;
}

p.message
{
  margin:8px 0;
}

p.description
{
  margin:4px 0;
  font-size:11px;
}

/* Google */
table.data tr:nth-child(2n)
{
  background:#fff;
}

.col2 table.data tr:nth-child(2n)
{
  background:#f6f6f5;
}

table.data tr:nth-child(2n) td
{
  border-bottom:1px solid #DADADA;
  border-top:1px solid #DADADA;
}

table.data
{
  width:310px;
  margin:10px 0;
  left:-15px;
  position:relative;
}

.col3 table.data
{
  width:309px;
}

table.data td
{
  padding:5px;
}

table.data tr td:first-child
{
  padding-left:15px;
}

.up
{
  color:#27bb23;
}

.down
{
  color:#cf2727;
}

/* Footer */
p.footer
{
  text-align:right;
  width:360px;
  color:#afafaf;
  margin:7px auto;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}