<h1 class="client"><%= @user.client %></h1>
<a class="logout" href="/logout">Logout</a>
<div class="container clearfix">
	<div class="col1">
			<%= render :partial => "/shared/twitter" %>
	</div>
	<div class="col2">
			<%= render :partial => "/shared/facebook" %>
	</div>

	<div class="col3">
			<%= render :partial => "/shared/analytics" %>
	</div>
</div>



