<p id="notice"><%= notice %></p>

<div class="container clearfix">
	<div class="col1">
			<h2><%= @user.client %></h2>
			<a href="/logout">Logout</a><br />
			<%= render :partial => "/shared/twitter" %>
	</div>
	<div class="col2">
			<%= render :partial => "/shared/facebook" %>
	</div>

	<div class="col3">

	</div>
</div>



