<% @update = Update.last(:conditions => {:user_id => @user.id, :tweet_done => true, :face_done => true, :google_done => true, :chimp_done => true}) %>
<ul class="tabs">
	<li><a  class="active overview" href="JavaScript:void(0);">Overview</a></li>
	<li><a class="details" href="JavaScript:void(0);">Detail View</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>

<h1 class="client"><%= @user.client %></h1>
<% if @update %>
	<span class="update">Updated: <%= @update.updated_at.strftime("%B %d, %Y at %I:%M%p") %></span>

<div class="container clearfix show">
	<div class="overview">
		<%= render :partial => "/shared/overview" %>
	</div>
	<div class="details">
		<%= render :partial => "/shared/details" %>
	</div>
</div>
<% else %>
<div class="container clearfix show">
	<div class="col1">
	</div>
	<div class="col2">
		<h2>Sorry! Your information is not ready yet.</h2>
		<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
	</div>
</div>
<% end %>



