<div class="container clearfix">
	<div class="col1">
			<%= render :partial => "/shared/twitter" %>
	</div>
	<div class="col2">
			<%= render :partial => "/shared/facebook" %>
	</div>

	<div class="col3">

	</div>
</div>