<h2>Welcome to ____________</h2>
<p>Thanks for signing up for _______________. You are currently signed up as a Viewer. As a viewer, people can now give you viewer or administrative access to their profiles.</p>

<p>If you wish to wish to be able to create your own profiles with Twitter,Facebook, Google Analytics, and Mail Chimp tied to them, simply <a href="/users/upgrade">upgrade your account</a>.</p>
