<div class="col1">
		<%= render :partial => "/shared/overview_twitter" %>
		<br />
		<%= render :partial => "/shared/overview_facebook" %>
</div>
<div class="col2">
		<%= render :partial => "/shared/overview_google" %>
</div>

<div class="col3">
		<%= render :partial => "/shared/overview_mailchimp" %>
</div>