<% if @user.facebook_authd?(@user) %>
	<% if @update.face_name %>
		<img class="logo" src="/images/facebook.png" />
		<div>
		<img class="book" src="<%= @update.face_pic %>" />
		<h3 class="noMargin facebook"><%= @update.face_name %></h3>

		<span class="number">Likes: <%= @update.likes %></span>
		</div>
		<div class="count <% if @update.new_likes > 0 %>plus<% elsif @update.new_likes < 0 %>negative<% end %>"><span class="label">Likes this Month</span> <span class="divider"> <%= @update.new_likes %></span></div>
		<% else %>
				<h2>Sorry! Your information is not ready yet.</h2>
				<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
	<% end %>
<% else %>
	<h3>Register Your account on Facebook!</h3>
	<p>Please contact <a href="mailto:Lauren@balcomagency.com">Lauren</a> at The Balcom Agency in order to get your facebook account set up.</p>
<% end %>