<% if @user.twitter_authd?(@user)%>
	<% if @update.twit_name %>
	<img class="logo" src="/images/twitter.png" />
	<div>
		<img class="twitter" src="<%= @update.twit_pic %>" />
		<h3 class="noMargin"><%= @update.twit_name %></h3>
		<span class="number">Followers: <%= @update.followers %></span>
	</div>
		<div class="count <% if @update.new_followers > 0 %>plus<% elsif @update.new_followers < 0 %>negative<% end %>"><span class="label">Followers this Month</span> <span class="divider"> <%= @update.new_followers %></span></div>
	<% else %>
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
	<% end %>
<% else %>
	<h3>Register Your account on Twitter!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your twitter account set up.</p>
<% end %>
