<div class="login container">
	<h3>Welcome to bdashd</h3>
	<p class="sub">Balcom Social Dashboard</p>
	<div class="form">
		<p>Enter you username and we'll email you your password.</p>
		<br />
	<form id="login" method="post" action="/forgot_password">
		<p><label for="username">Username</label>
		<input name="username" id="username" class="required text" type="text" /></p>
		<input class="submit" type="submit" value="Get Password" />
	</form>
		<a class="forgot" href="/">&lt;&lt; back to login</a>
	</div>
</div>
<p class="footer">Copyright 2011 Balcom Agency.</p>