<div class="login container">
	<h3>Welcome to bdashd</h3>
	<p class="sub">Balcom Social Dashboard</p>
	<div class="form">
	<form id="login" method="post" action="/login">
		<p><label for="username">Username</label>
		<input name="username" id="username" class="required text" type="text" /></p>
		<p><label for="password">Password</label>
		<input name="password" id="password" class="required text" type="password" /></p>
		<input class="submit" type="submit" value="Login" />
	</form>
	<a class="forgot" href="#">Forgot your Password?</a>
	</div>
</div>
<p class="footer">Copyright 2011 Balcom Agency.</p>